.countryheading {
    font-size: 3rem;

    font-weight: 600;

    text-align: center;

    margin-right: 380px;

    margin-top: 80px;

    .country {
        font-size: 2rem;
    }
}

.search {
    text-align: center;

}

.my-search {

    width: 32rem;
    display: flex;
    margin: auto;

    .my-new-search {
        width: 32rem;
    }

}

input[type="text"] {
    width: 510px;
    /* Adjust the width as needed */

    padding: 8px;

    border: 1px solid lightgray;

    margin-right: 5px;

    background-image: url("https://tse3.mm.bing.net/th?id=OIP.UcEnmjkins9Evx4EGa6PIgHaHa&pid=Api&P=0&h=180");
    /* Path to your search icon image */

    background-repeat: no-repeat;

    background-position: right center;

    background-size: 35px;
    /* Adjust the size of the icon */
}

.d-none {
    display: none !important;
}

.container {
    margin-top: 15px;

    .box {
        width: 32rem;

        height: 10rem;

        border: 1px solid lightgray;
        border-radius: 3px;

        margin: auto;

        margin-bottom: 10px;

        display: flex;

    }

    .img-box {
        height: fit-content;

        width: 14rem;

        padding-left: 10px;

        padding-top: auto;

        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        align-items: center;
        margin-right: 0;

        .country-flag {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

    }

    .country-info {
        margin-top: 23px;
        margin-bottom: 5px;
        padding: 5px;

        width: 17rem;

        font-size: 13px;
        white-space: nowrap;
        margin-left: 0;
    }

    .country-info p {

        font-weight: 500;

        margin: 1px;

        margin-left: 2px;

        margin-bottom: 4px;

    }

    .country-info h6 {

        margin: 0;

        margin-left: 2px;

        font-weight: bolder;

    }

    .showmapbtn {
        width: 8rem;

        height: 2rem;

        background-color: white;

        border: 3px solid blue;

        border-radius: 0;

        margin-right: 10px;
        font-weight: 50px;
    }

    .showfont {
        color: blue;

        font-size: 14px;

        text-decoration: none;
        font-weight: 500;
    }
}

.country-all p {
    font-family: "Poppins", sans-serif;
    font-weight: 540;
    margin: 4px 0;
    margin-right: 90px;
}

.showdiv {
    display: flex;
}


.country-flag {
    width: 90%;
    height: auto;
}





.neighbour-country-img {
    width: 28%;

    height: 40%;

    padding: 4px;

    object-fit: cover;

    margin: 10px;

    position: relative;

    object-fit: relative;

    border: 5px;
}

.detail-img {
    width: 80%;
    height: auto;

}